.encabezado {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color:black;    
    padding-right: 30px;
    .header h2 {   
        word-spacing: 2vh;
        letter-spacing: -0.5vh;
        font-family: 'Alegreya', serif;
        font-size: 10vh;
        color: #FFC745;
    }
}